.topic{
    font-size: 40px;
    color: #ffffff;
    margin: auto;
    text-align: center;
    margin-top: 10px;

}
.topic-div{
    height: 80px;
    background-color:  #2f2f2f;
}
.button-bar{
    margin-top: 20px;
}

.table-div{
    margin-top:80px;
}